<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PTPMUDTM_S_T6_QuanLyVanPhongPham.Properties.Settings.QuanLyVPPConnectionString"
            connectionString="Data Source=DESKTOP-MSM0OBI;Initial Catalog=QuanLyVPP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>